body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #fffefe;
}
h1{
    color: #5B5B5B;
}

h2{
    text-align: center;
}
p{
    color: #828282;
}
.highlight-color{
    color: orange;
}
.button{
    font-size: 18px;
    text-decoration: none;
    padding: 7px 20px;
    background-image: linear-gradient(#FBA24F, #FF1E1E);
    font-weight: 700;
    border-radius: 20px;
    color: white;
}
.half-portion h1{
    font-size: 50px;
    font-weight: 700;
    margin-top: 100px;
}
section{
    display: flex;
}

.half-portion{
    width: 50%;
    padding: 2%;
    margin-left: 5%;
}
.half-portion img{
    width: 80%;
}
.half-portion p{
    margin-bottom: 20px;
    line-height: 25px;
}
.recipies-title{
    width: 500px;
    margin:0 auto;
    text-align:center;
}

.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 1360px 600px;
}
.about-me img{
    width: 60%;
    margin-top: 45px;
    margin-left: 50px;
}
.container{
    margin: 20px 40px;
    color:black;
}
.recipies{
    display:flex;
    justify-content: center;
    text-align: center;
    width: auto;
    margin: 20px 80px;
    
}
.recipies .recipie-title-img{
    width: 260px;
    height: 260px;
}

footer{
    background-color: #0B0D17;
    width: 100%;
    height: 256px;
    color: white;
    text-align: center;
    padding-top: 20px;
    line-height: 40px;
}
footer h3{
    font-size: 30px;
    font-weight: 900;
    color: #5B5B5B;

}
footer p{
    font-size: 16px;
    font-weight: 400;
}
